body{
    background-color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'ubunta',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    width: 44px;
    padding: ;
}

.brand img{
    width: 44px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height:75vh ;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my progressBar{
    width: 80vw;